/************************************************************/
/*                  Start of Mobile Style                   */
/************************************************************/

/* Main parts of the layout */

body {
	background-color: #000000;
	margin: 0px;
	font-family: "Arial", "Helvetica", "sans-serif";
	background-image: url("images/backgroundImage.png");
    background-repeat: repeat;
}

.pageContainer {
	position: absolute;
}

.topBar {
	background: #2E2E28;
	width: 100vw;
	height: 60px;
	position: relative;
	max-width:100%;
}

.mainContainer {
	height: 100%;
	width: 100%;
	position: relative;
	min-height: 90vh;
	overflow: hidden;
	display: block;
	padding-bottom: 120px;
}

.navigationBar {
	position: fixed;
	width: 50px;
	height: 350px;
	background: #8A440A;
	bottom: 0;
	right: 0;
	border-radius: 25px;
	margin: 5px;
}

/* Only useful for the notFound for now */
.mainContainerStretch {
	height: 100%;
	width: 100%;
	position: relative;
	min-height: 90vh;
	overflow: hidden;
	display: block;
	padding-bottom: 120px;
	min-width: 100vw;
	max-width:100%;
}

#footer {
	background: #2E2E28;
	width: 100vw;
	height: 100px;
	position: absolute;
	bottom: 0;
}

/* Sub content of topBar */

.header {
	height: 100%;
	width: 100vw;
	background: #8A440A;
	position: absolute;
}

.headerIcon {
	float: left;
	color: #FFFFFF;
	background-color: #8A440A;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	margin: 5px;
	margin-left: 20px;
}



/* Sub content of mainContainer */

/* .main of infoPage */
.main {
	background-color:#44443b; 
	width: 75%;
	height: 100%;
	
	text-align: center;
	
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

.mainContent {
	padding-right: 30px;
	float: left;
	width: 80%;
	padding-bottom: 60px;
}


.basicContentContainer {
	background-color: #2E2E28;
	margin: 10px;
	padding: 10px;
	border-radius: 25px;
}

/* Following: Subclasses of basicContentContainer in mainPage*/

.introduction {

}

.newsContent {
	
}

.projectContent {
	
}

.picOfTheDay {
	
}

.goodToKnow {
	
}

.sideContent {
	width: 80%;
	float: left;
	padding-right: 30px;
	border-radius: 25px;
}

.readMoreIcon {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	font-size: 16px;
}

.headerPicture {
	/* empty as of now, just contains the header-img of the text boxes */
}

/* Following: Classes of infoPage */

#video {
	width: 50%;
	height: 50%;
}

#bar {
	list-style-type: none;
    margin: 0;
    padding: 0;
	padding-top: 32px;
	padding-bottom: 32px;
	background-color: white;
}

#team {
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;
}

.box {
	background-color: white;
}

/* Sub-Classes of box */
.a {
	flex-grow: 1;
}

.b {
	max-height: 265;
	max-width: 265;
	padding-right: 100px;
}

.c {
	max-height: 265;
	max-width: 265;
	padding-left: 100px;
}

.d {
	flex-grow: 1;
}


/* Sub content of footer */

.socialMedia {
	width: 100%;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	margin: 10px;
	max-height: 25px;
}

.impressum {
	width: 100%;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	margin: 10px;
	max-height: 25px;
}




/* General text and headline formating */

h1 {
	color: #ec7a1c;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	border-radius: 25px;
	font-size: 20px;
}

h2 {
	color: #ec7a1c;
	background-color: #44443b;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	padding-left: 10px;
	margin-right: -15px;
	margin-left: -15px;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
}

article {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	color: #FFFFFF;
	margin: 5px;
	font-size: 16px;
	line-height: 150%;
}

li {
	display: inline;
	padding: 6%;
}




/* General image formating */

img.notFoundPic {
	max-width: 80vw;
	max-height: 80vh;
}

img.picOtD {
	max-width: 100%;
	max-height: 100%;
	border: 2px solid #000000;
}

img.headerPic {
	box-sizing: border-box;
	margin: -10px;
	border-radius: 25px 25px 0px 0px;
	width: calc(100% + 20px);
	max-height: 50px;
	object-fit: cover;

}

img.textImg {
	max-width: 70%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid #000000;
}

img.socialPic {
	width: 25px;
	height: auto;
	margin-right: 10px;
}



/* General link formating */

a.footerHeaderIcon:link, a.footerHeaderIcon:visited {
	color: #FFFFFF;
 	text-decoration: none;
 	cursor: auto;
}

a.footerHeaderIcon:link:active, a.footerHeaderIcon:visited:active {
	color: #FFFFFF;
}

a.footerHeaderIcon:hover {
	text-decoration: underline;
	height: 100%;
	color: #FFFFFF;
	cursor: pointer;
}

a.readMoreIcon:link, a.readMoreIcon:visited {
	color: #ec7a1c;
 	text-decoration: none;
 	cursor: auto;
}

a.readMoreIcon:link:active, a.readMoreIcon:visited:active {
	color: #ec7a1c;
}

a.readMoreIcon:hover {
	text-decoration: underline;
	height: 100%;
	color: #ec7a1c;
	cursor: pointer;
}



/************************************************************/
/*                  Start of Desktop Style                  */
/************************************************************/

@media only screen and (min-width: 768px) {

/* Main parts of the layout */
	
.borderContainerTop {
	position: absolute;
	width: 98.5vw;
	height: 30px;
	background: #2E2E28;
}

.pageContainer {
	max-width: 1350px; /*Comment out for full scaling*/
}

.topBar {
	width: 100%;
	height: 30px;
}

.mainContainer {
	padding-bottom: 50px;
}

/* We don't need this bar on desktop at all */
.navigationBar {
	display: none;
}

/* Only useful for the notFound for now */
.mainContainerStretch {
	padding-bottom: 50px;
	min-width: 1350px;
}

#footer {
	width: 98.5vw;
	height: 40px;
}

/* Sub content of topBar */

.header {
	right: 0%;
	width: 550px;
	margin: auto;
	top: 50%;
	transform: translate(0, -50%);
	padding-right: 50px;
}

.headerIcon {
	float: right;
}



/* Sub content of mainContainer */

.mainContent {
	padding: 30px;
	width: 60%;
	min-width: 550px;
}

/* Following: Subclasses of basicContentContainer in mainPage*/

.introduction {
	float: left;
}

.newsContent {
	float: left;
}

.projectContent {
	float: left;
}

.sideContent {
	width: 30%;
	padding: 30px;
}

@media (max-width: 1250px) {
	.sideContent {
		min-width: 550px;
	}
}

.picOfTheDay {
	float: left;
}

.goodToKnow {
	float: left;
}




/* Sub content of footer */

.socialMedia {
	width: 30%;
	float: left;
}

.impressum {
	width: 60%;
	float: right;
}

.footerIcon {
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	margin: 5px;
	position: relative;
	display: inline;
	margin-right: 15px;
}



/* General text and headline formating */

h1 {
	font-size: 32px;
}

h2 {
	font-size: 25px;
}



/* General image formating */

/* No changes here, same as mobile version */




/* General link formating */

/* No changes here, same as mobile version */

}
